root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true

[*.cs]
indent_style = space
indent_size = 4
dotnet_sort_system_directives_first = true
csharp_new_line_before_open_brace = all

[*.{md,json,ps1,css,html}]
indent_style = space
indent_size = 2
